@model Agenda.Models.EventoViewModel
@{
    ViewBag.Title = "Crear Evento";
}

<h2>Crear Contacto</h2>

@using (Html.BeginForm("CrearEvento", "Evento", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div>
                @Html.LabelFor(d => d.nombre_evento)
                @Html.TextBoxFor(d => d.nombre_evento, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.nombre_evento, null, new { @class = "alert" })
            </div>
            <div>
                @Html.LabelFor(d => d.fecha)<br />
                @Html.EditorFor(d => d.fecha, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.fecha, null, new { @class = "alert" })

            </div>
            <div>
            </div>
            @Html.LabelFor(d => d.lugar)
            @Html.TextBoxFor(d => d.lugar, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.lugar, null, new { @class = "alert" })
            <div>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>

    </div>
}
