@model IEnumerable<Agenda.Models.evento>
@{
    ViewBag.Title = "Lista de Eventos";
}

<center><h2>@ViewBag.Title</h2></center><br>
<div>
    <a href="~/Evento/CrearEvento" class="btn" style="background:#003e73; color:white;" >Nuevo Evento</a>
    @using (Html.BeginForm("Index", "Evento", FormMethod.Get))
    {
        <p class="control-label" style="margin-top:20px;">Filtrar por Fecha:</p>
            @Html.TextBox("Fecha_Evento", "", new { @class = "form-control" })
            <input type="submit" value="Buscar" class="btn btn-success" style="margin-bottom:20px;margin-top:5px;" />
    }
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Evento</th>
                <th>Fecha</th>
                <th>Lugar</th>
            </tr>
            @foreach (var elemento in Model)
        {
                <tr>
                    <td>@elemento.id_evento</td>
                    <td>@elemento.nombre_evento</td>
                    <td>@elemento.fecha</td>
                    <td>@elemento.lugar</td>
                    <td>
                        <a class="btn btn-default" href="~/Evento/EditarEvento/@elemento.id_evento">Editar</a>
                        <a class="btn btn-danger" href="~/Evento/EliminarEvento/@elemento.id_evento">Eliminar</a>
                    </td>
                </tr>

            }
        </table>
    </div>
</div>
